.nav-bar {
    background: var(--window-primary);
    display: flex;
}

.frame-right {
    display: flex;
    width: 30%;
    /* border: 1px solid red; */
}

.frame-left {
    width: 70%;
    /* border: 1px solid blue; */
}

.nav-user {
    font-size: var(--font-regular);
}

.user-positional {
    display: flex;
    width: 100%;
    margin: auto;
}

.user-black {
    margin: auto;
    border-radius: 4px;
    background: var(--hover-shader);
    padding: 5px;
    width: 80%;
    cursor: pointer;
    display: flex;
}

.user-blackk {
    margin: auto;
    border-radius: 4px;
    background: var(--hover-shader);
    padding: 5px;
    width: 80%;
    cursor: pointer;
    display: flex;
}

.user-left {
    width: 80%;
}

.user-right {
    width: 20%;
    display: flex;
    justify-content: center;
}

.user-black:hover {
    background: var(--hover-intense);
}

.user-black div {
    margin-left: 5px;
}
.user-blackk div {
    margin-left: 5px;
}

.page-title {
    font-weight: bolder;
    font-size: 30px;
    margin-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.nav-elements {
    /* margin-left: var(--side-margin); */
    display: flex;
    justify-content: center;
}

.nav-element {
    font-size: var(--font-regular);
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    user-select: none;
}

.nav-element:hover {
    background-color: var(--hover-shader);
}

.img-1 {
    margin: auto;
    width: 20px;
}
.img-11 {
    margin: auto;
    padding: 20px;
    width: 20px;
    border-radius: 10px;
}
.img-11:hover {
    background: var(--hover-intense);
}

.frame-top {
    display: none;
}
.frame-bottom {
    display: none;
}

.left-navigation {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    display: none;
}

.left-part {
    height: 100vh;
    background: var(--window-primary);
    box-shadow: 10px 5px 10px 5px;
}
.right-part {
    height: 100vh;
    background: rgba(116, 72, 46, 0.555);
}

@media (min-width: 771px) {
    .left-navigation {
        display: none;
    }
    .left-part {
        display: none;
    }
    .right-part {
        display: none;
    }
    .user-option {
        display: none;
    }
}

@media (max-width: 770px) {
    .nav-elements {
        padding-left: 15px;
        flex-direction: column;
    }
    .frame-right {
        display: none;
    }
    .frame-left {
        display: none;
    }
    .frame-top {
        display: block;
    }
    .frame-bottom {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .nav-bar {
        flex-direction: column;
    }
    .user-black {
        margin-top: 10px;
        width: 70%;
    }
    .user-blackk {
        margin-top: 10px;
        width: 70%;
    }    
    .container {
        width: 70%;
        /* border: 1px solid red; */
        margin: auto;
        display: flex;
        flex-direction: row;
    }
    .page-title {
        margin: 0;
        width: 80%;
    }
    .holder {
        display: flex;
        width: 20%;
    }
    .burger {
        margin: auto;
        margin-left: 0;
        width: 30px;
        padding: 5px;
        border-radius: 5px;
        background: var(--hover-shader);
        cursor: pointer;
    }
    .burger:hover {
        background: var(--hover-intense);
    }
    .right-part {
        width: 50%;
    }
    .left-part {
        width: 50%;
    }
    .user-option {
        width: 1px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .menu-elements {
        font-size: var(--font-regular);
        width: 100%;
        /* margin-left: -4px !important; */
        margin-top: 4px;
        border-top: 1px solid black;
        /* background: var(--hover-shader-lower); */
    }
    .menu-element {
        text-align: center;
        /* margin-left: 0 !important; */
        padding: 5px;
        /* font-size: var(--font-regular); */
    }    
    /* .menu-elements {
        position: absolute;
        width: 71%;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background: var(--hover-shader-lower);
    }
    .menu-element {
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        text-align: center;
        width: 80%;
        border-radius: 4px;
        background: var(--hover-shader);
        font-size: var(--font-regular);
        cursor: pointer;
    } */
    .menu-element:hover {
        background: var(--hover-intense);
    }
}
@media(max-width: 500px) {
    .frame-right {
        display: none;
    }
    .frame-left {
        display: none;
    }
    .frame-top {
        display: block;
    }
    .frame-bottom {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .nav-bar {
        flex-direction: column;
    }
    .user-black {
        margin-top: 10px;
        width: 90%;
    }
    .user-blackk {
        margin-top: 10px;
        width: 90%;
    }    
    .container {
        width: 90%;
        /* border: 1px solid red; */
        margin: auto;
        display: flex;
        flex-direction: row;
    }
    .page-title {
        margin: 0;
        width: 80%;
    }
    .holder {
        display: flex;
        width: 20%;
    }
    .burger {
        margin: auto;
        margin-left: 0;
        width: 30px;
        padding: 5px;
        border-radius: 5px;
        background: var(--hover-shader);
        cursor: pointer;
    }
    .burger:hover {
        background: var(--hover-intense);
    }
    .right-part {
        width: 30%;
    }
    .left-part {
        width: 70%;
    }
    .menu-elements {
        width: 100%;
    }
}
