@import "table.css";

body {
    background: #373737;
    margin: 0;
}

:root {
    --window-primary: #a2866e;

    --hover-shader: rgb(100, 100, 100, 0.5);
    --hover-intense: rgb(50, 50, 50, 0.5);

    --font-enlarged: 22px;
    --font-regular: 18px;
    --font-reduced: 16px;
    --font-color: white;

    --side-margin: 40px;
}

.body {
    margin: 0;
    display: flex;

}

aside {
    width: calc(25% - 20px);
    min-height: 250px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 25px 10px;
}

.main {
    width: 75%;
    margin: 0;
}