@import "table.css";

body {
    background: var(--body-primary);
    margin: 0;
    color: var(--font-color);
}

:root {
    --window-primary: #a2866e;
    --window-secondary: #74604f;

    --body-primary: #373737;
    --body-secondary: #484848;
    --body-brighter: #505050;

    --accent-color: #363636;

    --hover-shader: rgb(100, 100, 100, 0.5);
    --hover-shader-lower: #827469;
    --hover-intense: rgb(50, 50, 50, 0.5);

    --font-enlarged: 22px;
    --font-regular: 18px;
    --font-reduced: 16px;
    --font-color: white;
    --font-hover-color: #d7d7d7;

    --side-margin: 40px;

}
a {
    text-decoration: none;
    color: var(--font-color);
}
.body {
    margin: 30px auto;
    width: 95%;
    background: var(--body-secondary);
    border-radius: 5px;

    display: flex;
    justify-content: center;
}

aside {
    width: calc(25% - 20px);
    min-height: 250px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 25px 10px;
}

.main {
    /*width: calc(75% - 20px);*/

    width: 100%;
    margin: 25px 10px;

    /*display: flex;*/
    /*justify-content: center;*/
}