<nav class="nav-bar">
    <div class="frame-left">
         <div class="page-title">
            Warehouse
        </div>
        <div class="nav-elements">
            <div class="nav-element">Sources</div>
            <div class="nav-element">Import</div>
            <div class="nav-element">Warehouse</div>
            <div class="nav-element">Clients</div>
            <div class="nav-element">Export</div>
            <div class="nav-element">Expenses</div>
            <div class="nav-element">Settings</div>
        </div>
    </div>
    <div class="frame-right">
        <div class="user-positional">
            <div class="user-black">
                <div class="user-left">
                    <div style="font-weight: bolder;">Mareks Niks Atars</div>
                    <div>Registered user</div>
                </div>
                <div class="user-right">
                    <img class="img-1" src="{{ url_for('static', filename='media/arrow-down.png') }}">
                </div>
            </div>
        </div>
    </div>
</nav>