{% include "main.html" %}

{% block sidebar %}
    <div>
        <input type="text">
    </div>
{% endblock %}

{% block main %}
<div class="">
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Number</th>
        </tr>
        <tr>
            <td>1.</td>
            <td>Lamda Relogi</td>
            <td>32</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Zibino Lambap</td>
            <td>9</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>Bobin Karagugin</td>
            <td>58</td>
        </tr>
    </table>
</div>


{% endblock %}
